@page "/"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorAppFullStack.Data.BlazorAppFullStackContext DB
@using BlazorAppFullStack.Models

@rendermode InteractiveServer

<PageTitle>Enrolled Patients</PageTitle>

<h1>Enrolled Patients</h1>

<p>
    <a href="patients/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Patient" Pagination="@pagination">
    <PropertyColumn Title="First Name" Property="patient => patient.Name.FirstName" Sortable="true" />
    <PropertyColumn Title="Middle Name" Property="patient => patient.Name.MiddleName" Sortable="true" />
    <PropertyColumn Title="Last Name" Property="patient => patient.Name.LastName" Sortable="true" />
    <PropertyColumn Title="DOB" Property="patient => patient.DateOfBirth" />
    <PropertyColumn Title="Address" Property="patient => patient.Address.Street1" />
    <PropertyColumn Title="" Property="patient => patient.Address.Street2" />
    <PropertyColumn Title="City" Property="patient => patient.Address.City" Sortable="true" />
    <PropertyColumn Title="State" Property="patient => patient.Address.State" Sortable="true" />
    <PropertyColumn Title="Zip Code" Property="patient => patient.Address.ZipCode" Sortable="true" />

    <TemplateColumn Context="patient">
        <a href="@($"patients/edit?id={patient.Id}")"><i class="bi bi-pencil-square"></i></a> |
        <a href="@($"patients/details?id={patient.Id}")"><i class="bi bi-info-square"></i></a> |
        <a href="@($"patients/delete?id={patient.Id}")"><i class="bi bi-trash"></i></a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="@pagination" />

@code 
{
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
}
